* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden; /* no scroll */
    font-family: 'JetBrains Mono', monospace;
    background: radial-gradient(circle at center,
        rgba(0, 255, 100, 0.12),
        rgba(20, 0, 30, 1) 60%
    ),
    linear-gradient(135deg,
        rgba(255, 255, 255, 0.425),
        rgba(0, 0, 0, 0.699),
        rgba(145, 21, 218, 0.849)
    );
    background-blend-mode: overlay;
    color: rgb(12, 12, 12);
}


/* CENTERED GRID */
.learn-grid {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 80vw;
    height: 70vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;
}


/* CARD */
.learn-card {
    position: relative;
    overflow: hidden;
    border: 2px solid #ffffff; 
    border-radius: 0px; /* 90 degree sharp */
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .2s ease, box-shadow .2s ease;
}

.learn-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 25px rgb(255, 255, 255);
}


/* IMAGE */
.learn-card .bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.55;
    transition: opacity .25s ease;
}

.learn-card:hover .bg {
    opacity: 0.75;
}


/* TEXT AT BOTTOM CENTER */
.learn-card h2 {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 14px;

    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.18);

    border-radius: 4px;
}